<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Senior Software Engineer</h1>
            <span><address>Airtame, Copenhagen, Denmark</address><time>June 2014 to Present</time></span>
        </header>

    </article>
    <article>
        <header>
            <h1>Software Engineer</h1>
            <span><address>Ixonos, Aalborg, Denmark</address><time>October 2010 to March 2014</time></span>
        </header>

    </article>
    <article>
        <header>
            <h1>Embedded Software Developer</h1>
            <span><address>Movidius, Timisoara, Romania</address><time>February 2008 to February 2011</time></span>
        </header>

    </article>
    <article>
        <header>
            <h1>Junior Software Developer</h1>
            <span><address>Continental Automotive, Timisoara, Romania</address><time>July 2007 to February 2008</time></span>
        </header>

    </article>
</section>
